<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>网协面试系统</title>
    {% load static %}
    <link href="{% static "interview/bootstrap.min.css" %}" rel="stylesheet">
    <script src="{% static "interview/jquery.min.js" %}"></script>
    <script src="{% static "interview/bootstrap.min.js" %}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">网协面试系统</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'interview:index' %}">面试系统 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admission:index'%}">录取系统</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'oidc_logout' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-success my-2 my-sm-0" type="submit">注销</button>
            </form>
        </div>
    </nav>

    <main role="main" class="container">
        <div class="jumbotron">
            <a href="{% url 'interview:index' %}">返回</a>
            <div id="table_div"></div>
        </div>
    </main>
</body>

<script>
    var charMap = {
      '&': '&amp;',
      '<': '&lt;',
      '>': '&gt;',
      '"': '&quot;',
      "'": '&#39;',
      '/': '&#x2F;',
      '`': '&#x60;',
      '=': '&#x3D;'
    };
    
    function escapeHtml(string) {
      return String(string).replace(/[&<>"'`=\/]/g, function (s) {
        return charMap[s];
      });
    }
    
    function get_interviewees() {
        $.ajax({
            url: "/api/interviewees/",
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                let html = '';
                if (data.length == 0) {
                    html += '<p>还没有面试者。</p>';
                } else {
                    html += '<table class="table table-hover table-responsive m-auto">';
                    html += '<thead><tr><th>签到时间</th><th>姓名</th><th>性别</th><th>学号</th><th>状态</th><th>一志愿</th><th>二志愿</th><th>签到</th><th>面试教室</th></tr></thead>';
                    html += '<tbody>';
                    $.each(data, function(index, item) {
                        html += '<tr class="warning">';
                        html += '<td>' + escapeHtml(item.assigned_datetime) + "</td>";
                        html += '<td>' + escapeHtml(item.name) + "</td>";
                        html += '<td>' + escapeHtml(item.sex) + "</td>";
                        html += '<td>' + escapeHtml(item.student_id) + "</td>";
                        html += '<td>' + escapeHtml(item.interview_status_display) + "</td>";
                        html += '<td>' + escapeHtml(item.first_preference) + "</td>";
                        html += '<td>' + escapeHtml(item.second_preference) + "</td>";
                        html += '<td>';
                        if (!item.readonly) {
                            if(item.interview_status == 1) {
                                html += '<a href="interviewees/'+ escapeHtml(item.id) +'/checkin">';
                                html += '<button type="button" class="btn btn-primary btn-block">签到</button></a>';
                            } else {
                                html += '<button type="button" class="btn btn-secondary btn-block disabled">已签到</button>';
                            }
                        }
                        html += '</td>';
                        html += '<td>';
                        if (item.assigned_room) {
                            html += '<button type="button" class="btn btn-success btn-block">已指派' + escapeHtml(item.assigned_room) + '</button>';
                        } else {
                            html += '<button type="button" class="btn btn-info btn-block">未指派</button>';
                        }
                        html += '</td></tr>';
                    });
                    html += '</tbody></table>';
                }
                $('#table_div').html(html);
            },
            error: function(xhr, status, error) {
                const html = '<p>数据获取错误，请检查网络或联系管理员。</p>';
                $('#table_div').html(html);
            }
        });
    }
    $("document").ready(function () {
        get_interviewees();
        setInterval(get_interviewees, 5000);
    })
</script>

</html>
