<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>网协面试系统</title>
    {% load static %}
    <link href="{% static "interview/bootstrap.min.css" %}" rel="stylesheet">
    <script src="{% static "interview/jquery.min.js" %}"></script>
    <script src="{% static "interview/bootstrap.min.js" %}"></script>
</head>

<body>
    <main role="main" class="container">
        <div>
            {% if interviewee_list %}
            <table class="table table-hover table-responsive m-auto">
                <thead>
                    <tr>
                        <th>时间</th>
                        <th>姓名</th>
                        <th>状态</th>
                        <th>教室</th>
                    </tr>
                </thead>
                <tbody>
                    {% for interviewee in interviewee_list %}
                    <tr class="warning">
                        <td>{{ interviewee.assigned_datetime | date:"Y-m-d H:i:s" }}</td>
                        <td>{{ interviewee.name }}</td>
                        <td>
                            <button type="button" class="btn btn-success btn-block">
                                {{ interviewee.get_interview_status_display }}
                            </button>
                        </td>
                        <td>{{ interviewee.assigned_room }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>还没有面试者。</p>
            {% endif %}
        </div>
    </main>
</body>

</html>
